@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.section {
  background-color: rgb(72, 73, 73);
  display: flex;
  justify-content: flex-start;
  min-height: 82vh;
  margin-top: 6px;
}
.content {
  width: 60%;
  display: flex;
  padding: 40px 80px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.content p {
  color: #fff;
  font-size: 20px;
  text-align: left;
  margin: 12px 0;
}

.content span {
  font-weight: 700;
  font-size: 22px;
}

.name {
  text-decoration: underline;
  text-decoration-color: rgb(245, 134, 52);
}

.content h3 {
  color: rgb(245, 134, 52);
  font-size: 24px;
  text-align: left;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.right img {
  width: 320px;
}

.flash {
  opacity: 0;
  animation: flash 2s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 40rem) {
  .right {
    display: none;
  }

  .content {
    width: 100%;
    padding: 20px;
    margin-bottom: 100px;
  }

  .content p {
    text-align: center;
    font-size: 20px;
  }

  .content span {
    font-size: 20px;
  }

  .content h3 {
    text-align: center;
    font-size: 20px;
  }
}

@media (max-width: 1400px) {
  .right {
    margin-right: 70px;
    align-items: flex-start;
    padding-top: 70px;
  }
}
