.card {
  height: 160px;
}

.card p {
  font-size: 26px;
  margin: 8px 0;

  font-weight: 900;
}

@media (max-width: 40rem) {
  .card p {
    font-size: 16px;
    font-weight: 500;
  }

  .card {
    height: 120px;
  }
}
