.container {
  width: 95%;
  height: 350px;
  position: relative;
  text-align: center;
}

.service {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 20px 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service h4 {
  font-size: 22px;
  margin: 0;
  color: #fff;
}

.img {
  width: 100%;
  border-radius: 10px;
  height: 100%;
}

@media (max-width: 40rem) {
  .container {
    width: 70%;
    height: 140px;
  }

  .service {
    padding: 0;
  }

  .service h4 {
    font-size: 20px;
  }
}

@media (max-width: 1400px) {
  .container {
    width: 90%;
    height: 220px;
  }
}
