.services {
    background-color: rgb(245, 134, 52);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* flex-direction: column; */
    padding: 60px 280px;
  }

  @media (max-width: 40rem) {
    .services {
      padding: 20px 0;
      /* width: 90%; */
      display: flex;
      /* grid-template-columns: 1fr 1fr; */
      align-items: center;
      justify-content: center;
      /* gap: 10px; */
      flex-direction: column;
      /* display: grid;
      grid-template-columns: 1fr 1fr; */
      /* display: none; */
    }
  }