@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.top {
  width: 100%;
  margin-top: 6px;
  background-image: url("../../assets/para.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 63%;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.top h1 {
  color: #fff;
  font-size: 50px;
  letter-spacing: 2px;
  margin: 0;
  line-height: 4rem;
  font-family: "Ubuntu", sans-serif;
}

.text {
  background-color: rgb(245, 134, 52);
  padding: 40px;
  width: 35%;
  margin-left: 200px;
  text-shadow: 1px 2px rgb(72, 73, 73);
}

.middle {
  width: 60%;
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.middle h3 {
  font-size: 40px;
  text-align: left;
  letter-spacing: 2px;
  line-height: 3rem;
  font-family: "Ubuntu", sans-serif;
  color: rgb(72, 73, 73);
  font-weight: 500;
}

.middle span {
  font-weight: 900;
  font-size: 44px;
  text-decoration: underline;
  text-decoration-color: rgb(245, 134, 52);
}

.link {
  text-decoration: none;
}

.link span {
  margin: 0;
  margin-bottom: 18px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  letter-spacing: 1px;
  position: relative;
  color: rgb(72, 73, 73);
  text-decoration: none;
}

.link span:before {
  background-color: rgb(245, 134, 52);
  bottom: -5px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  width: 0;
}

.link span:hover:before {
  visibility: visible;
  width: 100%;
}

.foot {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contats {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  padding: 30px 0 15 0;
  border-bottom: 1px solid rgb(30, 30, 30);
}

.contats h4 {
  font-size: 20px;
}

.end {
  width: 30%;
  line-height: 40px;
}

.rights {
  padding: 30px 0 50px 0;
  font-size: 20px;
}

@media (max-width: 40rem) {
  .content {
    align-items: flex-end;
    justify-content: center;
    margin-top: 3px;
    padding: none;
    margin: none;
  }

  .top {
    display: none;
  }

  .top h1 {
    display: none;
  }

  .text {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .middle {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }

  .middle h3 {
    font-size: 20px;
    text-align: center;
    line-height: 1.8rem;
    letter-spacing: inherit;
    width: 90%;
  }

  .middle span {
    font-size: 24px;
  }

  .foot {
    padding-bottom: 70px;
    margin-top: 50px;
  }

  .contats {
    width: 100%;
    flex-direction: column;
  }

  .contats h4 {
    font-size: 16px;
  }

  .end {
    width: 100%;
    margin: 0;
    margin-top: 10px;
    border-top: 1px solid rgb(72, 73, 73);
  }
  .rights {
    padding: 30px 80px;
    font-size: 12px;
  }
}
