.clientDiv {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.img {
  width: 150px;
  margin: 30px;
}

.img:hover {
  opacity: 0.8;
}

@media (max-width: 40rem) {
  .clientDiv {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .clientDiv img {
    width: 70%;
    margin: 10px;
  }
}
