.footer {
  display: none;
}

@media (max-width: 40rem) {
  .footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    background-color: rgb(72, 73, 73);
  }

  .card {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .card p {
    margin: 06px 0;
    color: rgb(245, 134, 52);
  }
}
