.atuation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 150px;
}

.items {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 32px;
  justify-items: center;
  align-items: center;
  justify-items: center;
}

@media (max-width: 40rem) {
  .atuation {
    padding: 30px 0;
    width: 100%;
  }

  .items {
    width: 90%;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}
