@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

.section {
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 52px;
  font-family: "Ubuntu", sans-serif;
  color: rgb(72, 73, 73);
  font-weight: 900;
  text-shadow: 1px 1px rgb(245, 134, 52);
  margin: 60px 0 40px 0;
}

.divider {
  border: 3px solid rgb(245, 134, 52);
  width: 80%;
  margin: 20px;
}

.quote {
  background-color: rgb(245, 134, 52);
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px;
}

.contact {
  background-color: rgb(245, 134, 52);
  width: 100%;
  margin-top: 40px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.contact h3 {
  color: #fff;
  font-size: 40px;
  text-shadow: 1px 2px rgb(72, 73, 73);
}

.link {
  color: #fff;
  text-decoration-color: rgb(72, 73, 73);
  text-shadow: 1px 2px rgb(72, 73, 73);
}

.quote p {
  font-size: 36px;
  width: 60%;
  color: #fff;
}

.tips {
  display: grid;
  width: 80%;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0;
}

.left {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  border-right: 4px dotted rgb(245, 134, 52);
}

.left p,
.right p {
  width: 90%;
  font-size: 26px;
  text-align: left;
  margin: 10px 0;
  color: rgb(72, 73, 73);
}

.left span,
.right span {
  font-weight: 900;
}

.right {
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-left: 80px;
}

.arrow {
  color: rgb(245, 134, 52);
  font-size: 30px;
}

@media (max-width: 40rem) {
  h2 {
    font-size: 24px;
    margin: 40px 0 10px 0;
  }

  .divider {
    margin: 10px 0;
  }

  .quote {
    padding: 20px 10px;
    margin: 10px 0;
  }

  .quote p {
    width: 100%;
    font-size: 22px;
  }

  .tips {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    align-items: center;
    margin-bottom: 100px;
  }

  .left {
    border: none;
    width: 90%;
  }

  .right {
    width: 90%;
    padding: 0;
    margin-top: 20px;
  }

  .left p,
  .right p {
    text-align: center;
    width: 100%;
    font-size: 22px;
  }

  .left span {
    font-size: 22px;
  }

  .contact {
    display: none;
  }

  .contact h3 {
    font-size: 28px;
  }
}
