.App {
  text-align: center;
}

.sec {
  display: flex;
  justify-content: center;
}

.content {
  width: 80%;
  display: flex;
  justify-content: center;
}

.animeLeft {
  opacity: 0;
  animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}

@media (max-width: 40rem) {
  .sec {
    width: 100%;
  }
}
